<?php
$config = array (
  'debug' => 0,
  'Parameters' => 
  array (
    'countryName' => 'FR',
    'stateOrProvinceName' => 'France',
    'localityName' => 'Nancy',
    'organizationName' => 'b.h.consulting',
    'scriptsPath' => '/home/snack/scripts',
    'certsPath' => '/home/snack/cert',
    'configurationEmail' => '',
    'errorEmail' => '',
    'ipAddress' => '{{ipaddr}}',
    'paginationCount' => '40',
    'smtp_ip' => '',
    'smtp_port' => '25',
    'smtp_login' => '',
    'smtp_password' => '',
    'proxy_ip' => '',
    'proxy_port' => '',
    'proxy_login' => '',
    'proxy_password' => '',
    'smtp_email_from' => '',
    'role' => 'master',
    'master_ip' => '',
    'slave_ip_to_monitor' => '',
    'addomain' => '',
    'adip' => '',
    'adgroupsync' => '',
    'nagios_ip' => '127.0.0.1',
    'nagios_password' => '',
  ),
);

