Package: snack
Version: 1.0-3
Section: base
Priority: optional
Architecture: all
Depends: bash, openssl, freeradius, freeradius-utils, freeradius-mysql, mysql-server, php5, php5-mysql, php5-snmp, rsyslog, libdbd-mysql, snmp, snmpd, tftpd-hpa, git, unzip, wget, whiptail, sudo, tig, php5-curl, curl, libnl1, bzip2, samba, samba-common, winbind, krb5-config, libexpect-perl, nagios3, munin, munin-node, libcrypt-cbc-perl, libnet-telnet-cisco-perl, libcrypt-blowfish-perl, python-jinja2, python-yaml, php5-mcrypt, libnet-telnet-cisco-perl, netcat, expect, zip
Maintainer: SNACK Team <tech@bh-consulting.net>
Description: Secure Network Access Control for Kids

