0 */3   * * *   root    /home/snack/interface/tools/scriptCluster.sh
*/10 *  * * *   root    /home/snack/interface/tools/scriptWatchdog.sh
59 23   * * 7   root    /home/snack/interface/tools/scriptLogsRotate.sh
00 23   * * *   www-data /home/snack/interface/app/Console/cake SnackBackupAllConfig

